<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="stylesheet" href="../static/password-reset.css">
  <script>
      function validatePassword() {
      var newPassword = document.getElementById("newPassword");
      var confirmPassword = document.getElementById("confirmPassword");
      var message = document.getElementById("message");

      // Check if passwords match and are valid
      if (newPassword.value !== confirmPassword.value) {
      confirmPassword.classList.add("error");
      message.textContent = "Passwords do not match.";
      message.style.display = "block";
      return false;
    } else if (!newPassword.validity.valid) {
      newPassword.classList.add("error");
      message.textContent = "Password does not meet the required criteria.";
      message.style.display = "block";
      return false;
    } else {
      confirmPassword.classList.remove("error");
      newPassword.classList.remove("error");
      message.style.display = "none";
      submitForm(newPassword.value);
      return true;
    }
    }

    function submitForm(password) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/update-password", true);
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          alert("Password has been successfully updated.");
        }
      };

      var data = JSON.stringify({"password": password});
      xhr.send(data);
    }
  </script>
</head>
<body>
<div class="container">
  <h2>Password Reset</h2>
  <form id="resetPasswordForm" th:action="@{/update-password}" method="post" onsubmit="return validatePassword()">
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword"
             pattern="(?=.*\d)(?=.*[A-Z]).{8,}"
             title="Password must be at least 8 characters long, include an uppercase letter and a digit."
             required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
      <label id="message" style="display:none;color:red;margin-top:5px;"></label>
    </div>
    <button type="submit">Reset Password</button>
  </form>
</div>
</body>
</html>
